[jenkins]
{% for result in gcp_instances.results %}
{% if result.item.role == "jenkins" %}
{{ result.item.name }} ansible_host={{ result.networkInterfaces[0].accessConfigs[0].natIP }}
{% endif %}
{% endfor %}

[sonarqube]
{% for result in gcp_instances.results %}
{% if result.item.role == "sonarqube" %}
{{ result.item.name }} ansible_host={{ result.networkInterfaces[0].accessConfigs[0].natIP }}
{% endif %}
{% endfor %}

[nexus]
{% for result in gcp_instances.results %}
{% if result.item.role == "nexus" %}
{{ result.item.name }} ansible_host={{ result.networkInterfaces[0].accessConfigs[0].natIP }}
{% endif %}
{% endfor %}


[all:vars]
ansible_user={{ ansible_user }}
ansible_ssh_private_key_file={{ ansible_ssh_private_key_file }}
ansible_python_interpreter=/usr/bin/python3
