services:
  jenkins:
    image: {{ jenkins_image }}
    container_name: jenkins
    restart: always

    ports:
      - "{{ jenkins_port }}:8080"
      - "{{ jenkins_agent_port }}:50000"

    volumes:
      - {{ jenkins_home_dir }}:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock